/* global */
body {
  background-image: url('./images/bg-01.jpg');
  background-size: cover;
  /* background-repeat: no-repeat; */
}

/* landing page */
img#logo {
  max-width: 70%;
  margin-left: 10%;
}
#logo + p {
  color: #fff;
  font-size: 8rem;
  font-family: 'Damion', cursive;
  padding-bottom: 1rem;
}
#launch {
  transition: all 0.3s ease;
}
#launch:hover,
#launch:focus {
  transform: scale(0.95);
}

/* game */
canvas {
  display: block;
  margin: auto;
  border-radius: 10px;
}

.gameStats {
  background-color: rgb(25, 0, 0);
  width: 750px;
  border-radius: 8px;
  padding: 0.75rem;
  margin: 3rem auto 0;
}

#levelNum,
#scoreboard,
#livesNum {
  width: 150px;
  font-family: 'Poppins', sans-serif;
  color: yellow;
  font-size: 1.2em;
  text-align: center;
}

/* scoreboard */
img#logoScores {
  max-width: 40%;
  margin-left: 10%;
}
#logoScores + p {
  color: #fff;
  font-size: 4rem;
  font-family: 'Damion', cursive;
}
.col-sm-12 p {
  font-size: 1rem;
}

@media only screen and (max-width: 600px) {
  #logo + p {
    font-size: 3.5rem;
  }
  #logoScores {
    min-width: 60%;
  }
  #logoScores + p {
    font-size: 2.5rem;
  }
}
